*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



body{
    background: -webkit-radial-gradient(circle, #250958, #0a0011);
}
.back a{
    color: #fff;
    display: block;
    animation: mizq 1s ease-in;
    z-index: 1000;
}

@keyframes mizq{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.icono{
    display: block;
    animation: mizq 1s ease-in;
    z-index: 1000;
    text-transform: uppercase;
    width: 60px;
    height: 24px;
    font-size: 18px;

}

.icono::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.icono::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.icono:focus {
    outline: none;
}

h3 {
    position:absolute;
    top:17%;
    left: 35%;
    text-transform: uppercase;
    color: white;
    font-size: 4.5em;
    text-align: center;
}

h4 {
    position:absolute;
    left: 40%;
    text-transform: uppercase;
    color: #ffe600;
    font-size: 3em;
    text-align: center;
}

h3:hover {
    filter: contrast(150%);
}

.prefijo h4{
    color: #ffe600;
    top: 37%;
    padding-left: 120px;
}

p{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.pr{
    padding-top: 175px;
}

.cn p{
    padding-top: 85px;
}

.name h4{
    padding-top: 24px;
}

.name p{
    padding-top: 80px;
}