<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comandos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/comcss.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png')}}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <div class="back">
        <a href="javascript:history.back(-1);" title="Ir la página anterior" id="icono" class="icono" spellcheck="false">Volver</a>
        </div>
          <h3>Comandos</h3>
              <p class="pr">El prefijo del Bot es</p>
            <div class="prefijo">
              <h4>!</h4>
              <div class="cn">
                  <p>El prefijo se utiliza antes de cada comando, Ejemplo: !help</p>
              </div>
          </div>
          <div class="name">
              <h4>game</h4>
              <p>Utilizalo para jugar 3 en raya o conocido en algunos paises como gato</p>
              <h4>lugar</h4>
              <p>"Utilizalo despues de !game para poner en casilla, Ejemplo: !game !lugar 3</p>
              <h4>name_edit</h4>
              <p>Cambia el nombre del etiquetado, ejemplo: !name_edit @akaza</p>
              <h4>secret</h4>
              <p>Manda un mensaje sin nombre del autor</p>
              <h4>Hola</h4>
              <p>Saludas al Bot</p>
              <h4>server info</h4>
              <p>Proporciona informacion sobre el Servidor</p>
              <h4>subs</h4>
              <p>Proporciona el numero de subscriptores, Ejemplo: !subs HolaSoyGerman</p>
              <h4>youtube</h4>
              <p>Funciona como un buscador de youtube</p>
              <h4>sumar</h4>
              <p>Suma 2 numeros diferentes</p>
              <h4>help</h4>
              <p>Sirve para pedir ayuda sobre el bot Ya sea sobre comandos, informacion o funciones</p>
              <h4>multiplicar</h4>
              <p>multiplica 2 numeros diferentes</p>
              <h4>restar</h4>
              <p>resta 2 numeros diferentes</p>
              <h4>dividir</h4>
              <p>divide 2 numeros diferentes</p>
              <h4>user_info</h4>
              <p>Proporciona informacion sobre un usuario</p>
              <h4>invite</h4>
              <p>Con el puedes invitar al Bot a otro servidor</p>
              <h4>configbienvenida</h4>
              <p>Configura el canal de texto introducido para las bienvenidas, Puedes mencionar el canal o poner su id para estableserlo como canal de bienvenidas</p>
          </div>
    </header>
</body>
</html>