<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Akaza Discord Bot"
    <meta name="decription" content="Akaza es el Bot para Discord">
    <meta name="keywords" content="discord, bot, robot, python, desarrollador, servidor" />
    <title>AkazaDBot</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="textos">
                <span style="--l: 'A';">A</span>
                <span style="--l: 'K';">K</span>
                <span style="--l: 'A';">A</span>
                <span style="--l: 'Z';">Z</span>
                <span style="--l: 'A!';">A!</span>
                <h2 style="--l: 'El mejor Bot para Discord';">El mejor Bot para Discord</h2>
                <a target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=933860473068195900&permissions=8&scope=bot" spellcheck="false">Invitar</a>
            </div>
            <img src="{{ url_for('static', filename='img/icon.png')}}">
        </div>
        <nav>
            <div class="wrapper">
                <div class="main-div main-div2">
            <a href="#" id="icono" class="icono" spellcheck="false">Menu</a>
                </div>
            </div>
            <div class="enlaces uno" id="enlaces">
            <a href="">Inicio</a>
            <a href="/comandos">Comandos</a>
            <a href="/support">Soporte</a>
            <a href="/social">Redes</a>
            </div>
        </nav>
        <script src="{{ url_for('static', filename='javascript/script.js')}}"></script>
    </header>
    <div class="wave"></div>
</body>

</html>